.rel {
  position: relative;
}
.abs {
  position: absolute;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.clear-fix {
  &:after {
    display: block;
    content: '';
    clear: both;
  }
}

.hidden {
  display: block;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
  &.no-wrap {
    line-height: 0;
  }
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.center-block {
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

.font-light {
  font-weight: 100;
}

.font-bold {
  font-weight: bold;
}

.list-no-style {
  list-style: none;
}

.no-text-decor {
  text-decoration: none;
}