extends layout

block content
  .cover.rel.flex
    .main-wrapper
      header#header
      section#content.center-block
        .gallery.center-block.clear-fix
        button.add-more.block.center-block Add more
    footer#footer