extends layout

block content
  .main-wrapper.rel.flex
    header#header
    section#content.center-block
      .gallery.center-block.clear-fix
      button.add-more.block.center-block Add more
  footer#footer
