<div class="gallery-elem-container pull-left">
    <div class="gallery-elem center-block">
        <img src="/public/images/img1.jpg" alt="img1"/>
        <div class="rate text-center">
            <span class="star black-star inline-block"></span>
            <span class="star black-star inline-block"></span>
            <span class="star black-star inline-block"></span>
            <span class="star inline-block"></span>
            <span class="star inline-block"></span>
        </div>
        <%=this%>
        <h6 class="item-title text-center font-light">NEW ZEALAND TIMELAPSE</h6>
        <p class="item-description">
            Equip? de son appareil Canon 5D Mark II, le r?alis
            ateur Bevan Percival nous offre une nouvelle vid?o
            en  technique timelapse absolument magnifique
        </p>
    </div>
</div>