<%_.each(this.collection, function(model){%>
<div class="gallery-elem-container pull-left">
    <div class="gallery-elem center-block">
        <img src="<%=model.image%>" alt="img1"/>
        <div class="rate text-center">
            <span class="star black-star inline-block"></span>
            <span class="star black-star inline-block"></span>
            <span class="star black-star inline-block"></span>
            <span class="star inline-block"></span>
            <span class="star inline-block"></span>
        </div>
        <h6 class="item-title text-center font-light"><%=model.title%></h6>
        <p class="item-description"><%=model.paragraph%></p>
    </div>
</div>
<%})%>